@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  height: 100%;
  margin: 0;
  overflow: auto;
}

body {
  color: var(--foreground);
  background-color: #fdf0f5;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh; /* Ensures the body takes up the full height */
  overflow-y: auto; /* Enables vertical scrolling if content overflows */
}
.sidebar-module__nUQPta__content {
  overflow: auto; /* Allows scrolling when content overflows */
  max-height: 100vh; /* Optional: restricts the height to the viewport height */
}
