/* searchbar.module.css */
.container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  color: black;
}

.button {
  padding: 0.5rem;
  background-color: #C2185B;
  color: white;
  border-radius: 0.375rem;
  margin-left: 0.5rem;
}
